@import url('reset.less');
@import url('utils.less');
@import url('./ionicons/ionicons.less');
@import url('./nav/nav.less');

@import url('./toolbar/toolbar.less');

@import url('song-card.less');
@import url('grid.less');
@import url('./toggle-play-button/toggle-play-button.less');
@import url('./player/player.less');
@import url('./spinner/spinner.less');

body {
	background-color: #f4f4f4;
}

.card {
    background-color: #fff;
    border: 1px solid #e3e3e3;
}

.content {
    margin: 20px 0 80px;
}

.sticky .content {
    margin-top: 80px;
}

